/* -------------------------------------------------- */
/* PRIVACY POLICY
/* -------------------------------------------------- */

/* PARENT */
#privacy-policy-notice {
    position: fixed;
    bottom: 0;

    display: none;

    width: 100%;
    padding: var(--gutter-single-sm);

    opacity: 0;
    background-color: var(--charcoal-color);
}
