/* -------------------------------------------------- */
/* NAV
/* -------------------------------------------------- */

/* ITEM */
.slider-nav .flickity-viewport .slider-item {
    margin: 0 1rem 0 1rem;
}

.slider-nav .flickity-viewport .slider-item a {
    font-size: 1em;

    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem !important;

    transition: var(--transition);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: var(--charcoal-color);
}


/* PSUEDO */
.slider-nav .flickity-viewport .slider-item a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 0;
    height: 4px;
    margin-right: auto;
    margin-left: auto;

    content: '';
    transition: var(--transition);

    background-color: var(--primary-color);
}

.slider-nav .flickity-viewport .slider-item.is-nav-selected a::after {
    width: 75%;
}


/* HOVER */
.slider-nav .flickity-viewport .slider-item a:hover {
    color: var(--secondary-color);
}

.slider-nav .flickity-viewport .slider-item a:hover::after {
    width: 25%;

    background-color: var(--secondary-color);
}


/* STATES */
.slider-nav .flickity-viewport .slider-item.is-nav-selected a {
    cursor: pointer;
    pointer-events: none;

    color: var(--primary-color);
}


/* -------------------------------------------------- */
/* SLIDER ITEMS
/* -------------------------------------------------- */

/* PARENT */
.slider-default .flickity-viewport {
    height: 100%; 

    transition: height .25s ease-in;
    transform: translate3d(0,0,0);
    transform: translateZ(0);

    backface-visibility: hidden;
    perspective: 1000;
}


/* -------------------------------------------------- */
/* HELPERS
/* -------------------------------------------------- */

/* OVERFLOW */
.slider-default.overflow .flickity-viewport {
    overflow-x: visible;
    overflow-y: visible;
}


/* LAZYLOAD */
img.flickity-lazyload {
    transition: var(--transition);

    opacity: 0;
}

img.flickity-lazyloaded,
img.flickity-lazyerror {
    opacity: 1;
}


/* ADAPT */
.slider-default.adapt {
    /* Carousel height, as percentage of width. */
    padding-bottom: 1rem;
}

.slider-default.adapt .flickity-viewport {
    /* Viewport inherit size from carousel. */
    min-height: 100%;
}

.slider-default.adapt .flickity-viewport .flickity-slider .slider-item {
    /* Cell inherit height from carousel. */
    width: 100%;
}


/* -------------------------------------------------- */
/* SLIDER CONTROLS
/* -------------------------------------------------- */

/* COMMON */
.slider-default .previous,
.slider-default .next {
    position: absolute;
    bottom: 0;

    width: 15%;
    height: 100%;

    transition: var(--transition);

    border-radius: 0;
    background-color: var(--white-color);
}

.slider-default .previous svg,
.slider-default .next svg {
    display: none;
}


/* PSEUDO */
.slider-default .previous::before,
.slider-default .next::before {
    font-family: 'FontAwesome';

    position: absolute;
    bottom: 20%;

    display: inline-block;

    margin-right: auto;
    margin-left: auto;

    color: var(--charcoal-color);
}


/* PREVIOUS BUTTON */
.slider-default .previous {
    left: 0;

    background: linear-gradient(to right, rgba(var(--secondary-color-rgb),1) 10%, rgba(var(--secondary-color-rgb),0) 100%);
}

.slider-default .previous::before {
    /*content: '\f053';*/
}


/* NEXT BUTTON */
.slider-default .next {
    right: 0;

    background: linear-gradient(to right, rgba(var(--secondary-color-rgb),0) 10%, rgba(var(--secondary-color-rgb),1) 100%);
}

.slider-default .next::before {
    /*content: '\f054';*/
}


/* HOVER */
.slider-default .previous:hover,
.slider-default .next:hover {
    background-color: var(--charcoal-color);
}

.slider-default .previous:hover::before,
.slider-default .next:hover::before {
    color: var(--white-color);
}


/* -------------------------------------------------- */
/* PAGE DOTS
/* -------------------------------------------------- */

/* PARENT */
.slider-default ol.flickity-page-dots {
    position: relative;
    bottom: 0;

    /*width: 100%;*/
    /*max-width: 300px;*/
    margin: 1rem auto 0 auto;
    padding: 1rem .5rem 1rem .5rem;

	/*border-radius: 50px;*/
	/*background-color: rgba(0,0,0,0.25);*/

	/*backdrop-filter: blur(4px);*/
	
}


/* CHILD */
.slider-default ol.flickity-page-dots > li.dot {
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 0.75rem 0 0.75rem;

    cursor: pointer;
    transition: var(--transition);

    opacity: 1;
    border: 2px solid var(--white-color);
    /*border-bottom: 4px solid var(--charcoal-color);*/
    border-radius: 100%;
    background-color: transparent;
}


/* HOVER */
.slider-default ol.flickity-page-dots > li.dot:hover {
    opacity: 1;
    /*border-bottom: 4px solid var(--secondary-color);*/
    background-color: var(--white-color);
}


/* STATES */
.slider-default ol.flickity-page-dots > li.dot.is-selected {
    opacity: 1;
    background-color: var(--white-color);
}


/* RESPONSIVE */
@media screen and (min-width: 0) and (max-width: 480px) {

    .slider-default ol.flickity-page-dots {
        display: none;
    }

}


/* -------------------------------------------------- */
/* THEMES
/* -------------------------------------------------- */

    /* -------------------------------------------------- */
    /* DARK
    /* -------------------------------------------------- */

    /* ITEM */
    .slider-nav.dark .flickity-viewport .slider-item a {
        color: var(--charcoal-color);
    }


    /* PSUDEO */
    .slider-nav.dark .flickity-viewport .slider-item a::after {
        background-color: var(--primary-color);
    }


    /* HOVER */
    .slider-nav.dark .flickity-viewport .slider-item a:hover {
        color: var(--secondary-color);
    }

    .slider-nav.dark .flickity-viewport .slider-item a:hover::after {
        background-color: var(--secondary-color);
    }


    /* STATES */
    .slider-nav.dark .flickity-viewport .slider-item.is-nav-selected a {
        color: var(--primary-color);
    }


    /* PREVIOUS / NEXT */
    .slider-default.dark .previous,
    .slider-default.dark .next {
        background-color: transparent;
    }

    .slider-default.dark .previous::before,
    .slider-default.dark .next::before {
        color: var(--charcoal-color);
    }

    .slider-default.dark .previous:hover,
    .slider-default.dark .next:hover {
        background-color: transparent;
    }

    .slider-default.dark .previous:hover::before,
    .slider-default.dark .next:hover::before {
        color: var(--charcoal-color);
    }


    /* PAGE DOTS */
    .slider-default.dark ol.flickity-page-dots > li.dot {
        /*border: 2px solid var(--charcoal-color);*/
        background-color: var(--dark-grey-color);
    }

    .slider-default.dark ol.flickity-page-dots > li.dot:hover {
        /*border-bottom: 4px solid var(--secondary-color);*/
        background-color: var(--charcoal-color);
    }

    .slider-default.dark ol.flickity-page-dots > li.dot.is-selected {
        /*border-bottom: 4px solid var(--primary-color);*/
        background-color: var(--secondary-color);
    }


    /* -------------------------------------------------- */
    /* LIGHT
    /* -------------------------------------------------- */

    /* ITEM */
    .slider-nav.light .flickity-viewport .slider-item a {
        color: var(--white-color);
    }

    /* PSUEDO */
    .slider-nav.light .flickity-viewport .slider-item a::after {
        background-color: var(--accent-color);
    }

    /* HOVER */
    .slider-nav.light .flickity-viewport .slider-item a:hover {
        color: var(--accent-color);
    }

    .slider-nav.light .flickity-viewport .slider-item a:hover::after {
        background-color: var(--accent-color);
    }


    /* STATES */
    .slider-nav.light .flickity-viewport .slider-item.is-nav-selected a {
        color: var(--accent-color);
    }


    /* PREVIOUS / NEXT */
    .slider-default.light .previous,
    .slider-default.light .next {
        background-color: transparent;
    }

    .slider-default.light .previous::before,
    .slider-default.light .next::before {
        color: var(--white-color);
    }

    .slider-default.light .previous:hover,
    .slider-default.light .next:hover {
        background-color: transparent;
    }

    .slider-default.light .previous:hover::before,
    .slider-default.light .next:hover::before {
        color: var(--white-color);
    }


    /* PAGE DOTS */
    .slider-default.light ol.flickity-page-dots > li.dot {
        border: 2px solid var(--white-color);
        background-color: transparent;
    }

    .slider-default.light ol.flickity-page-dots > li.dot:hover {
        opacity: 1;
        /*border-bottom: 4px solid var(--accent-color);*/
        background-color: var(--white-color);
    }

    .slider-default.light ol.flickity-page-dots > li.dot.is-selected {
        opacity: 1;
        /*border-bottom: 4px solid var(--accent-color);*/
        background-color: var(--white-color);
    }
