/* -------------------------------------------------- */
/* FONT FAMILIES
/* -------------------------------------------------- */

h1, .#{$modifier}font-header {
	font-family: $font-header;
}

h2, h3, h4, h5, h6, .#{$modifier}font-subheader {
	font-family: $font-copy;
}

.#{$modifier}font-copy {
	font-family: $font-copy;
}

.#{$modifier}font-stack {
	font-family: $font-stack;
}


/* -------------------------------------------------- */
/* TYPE
/* -------------------------------------------------- */	

h, .#{$modifier}h {
	@include font-size-h;
}

p {
	font-size: $base;
}

.#{$modifier}p {
	@include font-size-p;
}

.#{$modifier}fluid-type {
	@include fluid-type( map-get($font-sizes, 6), $base );
}
