/* -------------------------------------------------- */
/* HACKS 
/* -------------------------------------------------- */

/* Utilize with requestAnimationFrame. Use sparingly. */
.will-change {
    will-change: auto;
}


/* SplitText fix for font rendering. Prevents blinking. Only apply to text animated with SplitText, otherwise this is a very performance heavy fix. */
.fix-font-render {
    transform: translateZ(0);
    font-kerning: none;
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
}
h1 div, h2 div, h3 div, h4 div, h5 div, h6 div, p div {
    display: inline !important;
}


/* Force use of graphics memory rendering. Use sparingly. */
.force-gpu {
    transform: translate3d(0, 0, 0) translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
}


/* Create a style-cleaned and self-contained component. */
.reset {
    all: initial;
    contain: content;
}


/* -------------------------------------------------- */
/* BUTTONS 
/* -------------------------------------------------- */

/* PARENT */
.button {
    /*font-size: 1em;*/
    line-height: 1;

    /*position: relative;*/
    z-index: 1;

    display: block;
    /*overflow: hidden;*/

    width: auto;
    height: auto;
    /*min-height: 100%;*/
    /*margin-top: 0;*/
    margin-right: auto;
    /*margin-bottom: 0;*/
    margin-left: auto;
    padding: 1.25rem;

    cursor: pointer;
    user-select: none;
    /*transition: var(--transition);*/
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;

    /*color: inherit;*/
    border: 0;
    border-radius: 0;
    outline: 0;
    /*background-color: transparent;*/

    -webkit-appearance: none;
}


/* STATES */
.button:active,
.button:focus {
    color: var(--white-color);
    /*background-color: var(--primary-color);*/
}


/* HELPERS */
.button.inactive,
.button.disabled {
    cursor: pointer;
    pointer-events: none;
    color: var(--dark-grey-color);
    background-color: var(--light-grey-color);
}


/* -------------------------------------------------- */
/* MOUSEOVER ANIMATIONS
/* -------------------------------------------------- */

.anim-top,
.anim-tr, .anim-right, .anim-br,
.anim-bottom,
.anim-bl, .anim-left, .anim-tl {
    transition: var(--transition);
}

.anim-top:hover {
    transform: translate3d(0, -8px, 0);
}

.anim-tr:hover {
    transform: translate3d(8px, -8px, 0);
}

.anim-right:hover {
    transform: translate3d(8px, 0, 0);
}

.anim-br:hover {
    transform: translate3d(8px, 8px, 0);
}

.anim-bottom:hover {
    transform: translate3d(0, 8px, 0);
}

.anim-bl:hover {
    transform: translate3d(-8px, 8px, 0);
}

.anim-left:hover {
    transform: translate3d(-8px, 0, 0);
}

.anim-tl:hover {
    transform: translate3d(-8px, -8px, 0);
}


/* -------------------------------------------------- */
/* WIDTH 
/* -------------------------------------------------- */

.width-xxxs {
    width: 100%;
    max-width: var(--width-xxxs);
}

.width-xxs {
    width: 100%;
    max-width: var(--width-xxs);
}

.width-xs {
    width: 100%;
    max-width: var(--width-xs);
}

.width-sm {
    width: 100%;
    max-width: var(--width-sm);
}

.width-md {
    width: 100%;
    max-width: var(--width-md);
}

.width-lg {
    width: 100%;
    max-width: var(--width-lg);
}

.width-xl {
    width: 100%;
    max-width: var(--width-xl);
}

.width-xxl {
    width: 100%;
    max-width: var(--width-xxl);
}

.width-xxxl {
    width: 100%;
    max-width: var(--width-xxxl);
}

.width-25 {
    width: 25%;
}

.width-59 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.width-full {
    width: 100%;
}

.width-auto {
    width: auto;
}


/* -------------------------------------------------- */
/* HEIGHT 
/* -------------------------------------------------- */

.height-xxxs {
    height: var(--height-xxxs);
}

.height-xxs {
    height: var(--height-xxs);
}

.height-xs {
    height: var(--height-xs);
}

.height-sm {
    height: var(--height-sm);
}

.height-md {
    height: var(--height-md);
}

.height-lg {
    height: var(--height-lg);
}

.height-xl {
    height: var(--height-xl);
}

.height-xxl {
    height: var(--height-xxl);
}

.height-xxxl {
    height: var(--height-xxxl);
}

.height-25 {
    height: 25vh;
}

.height-50 {
    height: 50vh;
}

.height-75 {
    height: 75vh;
}

.height-100 {
    height: 100vh;
}

.height-full {
    height: 100%;
}

.height-auto {
    height: auto;
}


/* -------------------------------------------------- */
/* EQUAL WIDTH / HEIGHT 
/* -------------------------------------------------- */

.wh-xxxs {
    width: var(--size-xxxs);
    height: var(--size-xxxs);
}

.wh-xxs {
    width: var(--size-xxs);
    height: var(--size-xxs);
}

.wh-xs {
    width: var(--size-xs);
    height: var(--size-xs);
}

.wh-sm {
    width: var(--size-sm);
    height: var(--size-sm);
}

.wh-md {
    width: var(--size-md);
    height: var(--size-md);
}

.wh-lg {
    width: var(--size-lg);
    height: var(--size-lg);
}

.wh-xl {
    width: var(--size-xl);
    height: var(--size-xl);
}

.wh-xxl {
    width: var(--size-xxl);
    height: var(--size-xxl);
}

.wh-xxxl {
    width: var(--size-xxxl);
    height: var(--size-xxxl);
}


/* -------------------------------------------------- */
/* IMAGES 
/* -------------------------------------------------- */

/* COMMON */
img {
    display: block;

    width: 100%;
    height: auto;
    /*min-width: var(--width-min);*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/

    border: 0;
}

svg {
    width: 100%;
    height: auto;
    /*min-width: var(--width-min);*/
    shape-rendering: auto;
}


/* SIZES */
.img-xxxs {
    max-width: var(--size-xxxs);
}

.img-xxs {
    max-width: var(--size-xxs);
}

.img-xs {
    max-width: var(--size-xs);
}

.img-sm {
    max-width: var(--size-sm);
}

.img-md {
    max-width: var(--size-md);
}

.img-lg {
    max-width: var(--size-lg);
}

.img-xl {
    max-width: var(--size-xl);
}

.img-xxl {
    max-width: var(--size-xxl);
}

.img-xxxl {
    max-width: var(--size-xxxl);
}


/* HELPERS */
img.sharpen {
    image-rendering: pixelated;
}


/* -------------------------------------------------- */
/* MARGINS 
/* -------------------------------------------------- */

/* MARGIN: NONE */
.margin-none,
.list-margin-none li {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.margin-tb-none,
.list-margin-tb-none li {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-lr-none,
.list-margin-lr-none li {
    margin-right: 0;
    margin-left: 0;
}

.margin-top-none,
.list-margin-top-none li {
    margin-top: 0;
}

.margin-right-none,
.list-margin-right-none li {
    margin-right: 0;
}

.margin-bottom-none,
.list-margin-bottom-none li {
    margin-bottom: 0;
}

.margin-left-none,
.list-margin-left-none li {
    margin-left: 0;
}


/* MARGIN: ALL AROUND */
.margin-xxxs,
.list-margin-xxxs li {
    margin: var(--gutter-xxxs);
}

.margin-xxs,
.list-margin-xxs li {
    margin: var(--gutter-xxs);
}

.margin-xs,
.list-margin-xs li {
    margin: var(--gutter-xs);
}

.margin-sm,
.list-margin-sm li {
    margin: var(--gutter-sm);
}

.margin-md,
.list-margin-md li {
    margin: var(--gutter-md);
}

.margin-lg,
.list-margin-lg li {
    margin: var(--gutter-lg);
}

.margin-xl,
.list-margin-xl li {
    margin: var(--gutter-xl);
}

.margin-xxl,
.list-margin-xxl li {
    margin: var(--gutter-xxl);
}

.margin-xxxl,
.list-margin-xxxl li {
    margin: var(--gutter-xxxl);
}


/* MARGIN: TOP / BOTTOM */
.margin-tb-xxxs,
.list-margin-tb-xxxs li {
    margin-top: var(--gutter-single-xxxs);
    margin-bottom: var(--gutter-single-xxxs);
}

.margin-tb-xxs,
.list-margin-tb-xxs li {
    margin-top: var(--gutter-single-xxs);
    margin-bottom: var(--gutter-single-xxs);
}

.margin-tb-xs,
.list-margin-tb-xs li {
    margin-top: var(--gutter-single-xs);
    margin-bottom: var(--gutter-single-xs);
}

.margin-tb-sm,
.list-margin-tb-sm li {
    margin-top: var(--gutter-single-sm);
    margin-bottom: var(--gutter-single-sm);
}

.margin-tb-md,
.list-margin-tb-md li {
    margin-top: var(--gutter-single-md);
    margin-bottom: var(--gutter-single-md);
}

.margin-tb-lg,
.list-margin-tb-lg li {
    margin-top: var(--gutter-single-lg);
    margin-bottom: var(--gutter-single-lg);
}

.margin-tb-xl,
.list-margin-tb-xl li {
    margin-top: var(--gutter-single-xl);
    margin-bottom: var(--gutter-single-xl);
}

.margin-tb-xxl,
.list-margin-tb-xxl li {
    margin-top: var(--gutter-single-xxl);
    margin-bottom: var(--gutter-single-xxl);
}

.margin-tb-xxxl,
.list-margin-tb-xxxl li {
    margin-top: var(--gutter-single-xxxl);
    margin-bottom: var(--gutter-single-xxxl);
}


/* MARGIN: LEFT / RIGHT */
.margin-lr-xxxs,
.list-margin-lr-xxxs li {
    margin-right: var(--gutter-single-xxxs);
    margin-left: var(--gutter-single-xxxs);
}

.margin-lr-xxs,
.list-margin-lr-xxs li {
    margin-right: var(--gutter-single-xxs);
    margin-left: var(--gutter-single-xxs);
}

.margin-lr-xs,
.list-margin-lr-xs li {
    margin-right: var(--gutter-single-xs);
    margin-left: var(--gutter-single-xs);
}

.margin-lr-sm,
.list-margin-lr-sm li {
    margin-right: var(--gutter-single-sm);
    margin-left: var(--gutter-single-sm);
}

.margin-lr-md,
.list-margin-lr-md li {
    margin-right: var(--gutter-single-md);
    margin-left: var(--gutter-single-md);
}

.margin-lr-lg,
.list-margin-lr-lg li {
    margin-right: var(--gutter-single-lg);
    margin-left: var(--gutter-single-lg);
}

.margin-lr-xl,
.list-margin-lr-xl li {
    margin-right: var(--gutter-single-xl);
    margin-left: var(--gutter-single-xl);
}

.margin-lr-xxl,
.list-margin-lr-xxl li {
    margin-right: var(--gutter-single-xxl);
    margin-left: var(--gutter-single-xxl);
}

.margin-lr-xxxl,
.list-margin-lr-xxxl li {
    margin-right: var(--gutter-single-xxxl);
    margin-left: var(--gutter-single-xxxl);
}


/* MARGIN: TOP */
.margin-top-xxxs,
.list-margin-top-xxxs li {
    margin-top: var(--gutter-single-xxxs);
}

.margin-top-xxs,
.list-margin-top-xxs li {
    margin-top: var(--gutter-single-xxs);
}

.margin-top-xs,
.list-margin-top-xs li {
    margin-top: var(--gutter-single-xs);
}

.margin-top-sm,
.list-margin-top-sm li {
    margin-top: var(--gutter-single-sm);
}

.margin-top-md,
.list-margin-top-md li {
    margin-top: var(--gutter-single-md);
}

.margin-top-lg,
.list-margin-top-lg li {
    margin-top: var(--gutter-single-lg);
}

.margin-top-xl,
.list-margin-top-xl li {
    margin-top: var(--gutter-single-xl);
}

.margin-top-xxl,
.list-margin-top-xxl li {
    margin-top: var(--gutter-single-xxl);
}

.margin-top-xxxl,
.list-margin-top-xxxl li {
    margin-top: var(--gutter-single-xxxl);
}


/* MARGIN: RIGHT */
.margin-right-xxxs,
.list-margin-right-xxxs li {
    margin-right: var(--gutter-single-xxxs);
}

.margin-right-xxs,
.list-margin-right-xxs li {
    margin-right: var(--gutter-single-xxs);
}

.margin-right-xs,
.list-margin-right-xs li {
    margin-right: var(--gutter-single-xs);
}

.margin-right-sm,
.list-margin-right-sm li {
    margin-right: var(--gutter-single-sm);
}

.margin-right-md,
.list-margin-right-md li {
    margin-right: var(--gutter-single-md);
}

.margin-right-lg,
.list-margin-right-lg li {
    margin-right: var(--gutter-single-lg);
}

.margin-right-xl,
.list-margin-right-xl li {
    margin-right: var(--gutter-single-xl);
}

.margin-right-xxl,
.list-margin-right-xxl li {
    margin-right: var(--gutter-single-xxl);
}

.margin-right-xxxl,
.list-margin-right-xxxl li {
    margin-right: var(--gutter-single-xxxl);
}

.margin-right-auto,
.list-margin-right-auto li  {
    display: block;
    margin-right: 0;
    margin-left: auto;
}


/* MARGIN: BOTTOM */
.margin-bottom-xxxs,
.list-margin-bottom-xxxs li {
    margin-bottom: var(--gutter-single-xxxs);
}

.margin-bottom-xxs,
.list-margin-bottom-xxs li {
    margin-bottom: var(--gutter-single-xxs);
}

.margin-bottom-xs,
.list-margin-bottom-xs li {
    margin-bottom: var(--gutter-single-xs);
}

.margin-bottom-sm,
.list-margin-bottom-sm li {
    margin-bottom: var(--gutter-single-sm);
}

.margin-bottom-md,
.list-margin-bottom-md li {
    margin-bottom: var(--gutter-single-md);
}

.margin-bottom-lg,
.list-margin-bottom-lg li {
    margin-bottom: var(--gutter-single-lg);
}

.margin-bottom-xl,
.list-margin-bottom-xl li {
    margin-bottom: var(--gutter-single-xl);
}

.margin-bottom-xxl,
.list-margin-bottom-xxl li {
    margin-bottom: var(--gutter-single-xxl);
}

.margin-bottom-xxxl,
.list-margin-bottom-xxxl li {
    margin-bottom: var(--gutter-single-xxxl);
}


/* MARGIN: LEFT */
.margin-left-xxxs,
.list-margin-left-xxxs li {
    margin-left: var(--gutter-single-xxxs);
}

.margin-left-xxs,
.list-margin-left-xxs li {
    margin-left: var(--gutter-single-xxs);
}

.margin-left-xs,
.list-margin-left-xs li {
    margin-left: var(--gutter-single-xs);
}

.margin-left-sm,
.list-margin-left-sm li {
    margin-left: var(--gutter-single-sm);
}

.margin-left-md,
.list-margin-left-md li {
    margin-left: var(--gutter-single-md);
}

.margin-left-lg,
.list-margin-left-lg li {
    margin-left: var(--gutter-single-lg);
}

.margin-left-xl,
.list-margin-left-xl li {
    margin-left: var(--gutter-single-xl);
}

.margin-left-xxl,
.list-margin-left-xxl li {
    margin-left: var(--gutter-single-xxl);
}

.margin-left-xxxl,
.list-margin-left-xxxl li {
    margin-left: var(--gutter-single-xxxl);
}

.margin-left-auto,
.list-margin-left-auto li {
    display: block;
    margin-right: auto;
    margin-left: 0;
}


/* -------------------------------------------------- */
/* PADDING 
/* -------------------------------------------------- */

/* PADDING: NONE */
.padding-none,
.list-padding-none li {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.padding-tb-none,
.list-padding-tb-none li {
    padding-top: 0;
    padding-bottom: 0;
}

.padding-lr-none,
.list-padding-lr-none li {
    padding-right: 0;
    padding-left: 0;
}

.padding-top-none,
.list-padding-top-none li {
    padding-top: 0;
}

.padding-right-none,
.list-padding-right-none li {
    padding-right: 0;
}

.padding-bottom-none,
.list-padding-bottom-none li {
    padding-bottom: 0;
}

.padding-left-none,
.list-padding-left-none li {
    padding-left: 0;
}


/* PADDING: ALL AROUND */
.padding-xxxs,
.list-padding-xxxs li {
    padding: var(--gutter-xxxs);
}

.padding-xxs,
.list-padding-xxs li {
    padding: var(--gutter-xxs);
}

.padding-xs,
.list-padding-xs li {
    padding: var(--gutter-xs);
}

.padding-sm,
.list-padding-sm li {
    padding: var(--gutter-sm);
}

.padding-md,
.list-padding-md li {
    padding: var(--gutter-md);
}

.padding-lg,
.list-padding-lg li {
    padding: var(--gutter-lg);
}

.padding-xl,
.list-padding-xl li {
    padding: var(--gutter-xl);
}

.padding-xxl,
.list-padding-xxl li {
    padding: var(--gutter-xxl);
}

.padding-xxxl,
.list-padding-xxxl li {
    padding: var(--gutter-xxxl);
}


/* PADDING: TOP / BOTTOM */
.padding-tb-xxxs,
.list-padding-tb-xxxs li {
    padding-top: var(--gutter-single-xxxs);
    padding-bottom: var(--gutter-single-xxxs);
}

.padding-tb-xxs,
.list-padding-tb-xxs li {
    padding-top: var(--gutter-single-xxs);
    padding-bottom: var(--gutter-single-xxs);
}

.padding-tb-xs,
.list-padding-tb-xs li {
    padding-top: var(--gutter-single-xs);
    padding-bottom: var(--gutter-single-xs);
}

.padding-tb-sm,
.list-padding-tb-sm li {
    padding-top: var(--gutter-single-sm);
    padding-bottom: var(--gutter-single-sm);
}

.padding-tb-md,
.list-padding-tb-md li {
    padding-top: var(--gutter-single-md);
    padding-bottom: var(--gutter-single-md);
}

.padding-tb-lg,
.list-padding-tb-lg li {
    padding-top: var(--gutter-single-lg);
    padding-bottom: var(--gutter-single-lg);
}

.padding-tb-xl,
.list-padding-tb-xl li {
    padding-top: var(--gutter-single-xl);
    padding-bottom: var(--gutter-single-xl);
}

.padding-tb-xxl,
.list-padding-tb-xxl li {
    padding-top: var(--gutter-single-xxl);
    padding-bottom: var(--gutter-single-xxl);
}

.padding-tb-xxxl,
.list-padding-tb-xxxl li {
    padding-top: var(--gutter-single-xxxl);
    padding-bottom: var(--gutter-single-xxxl);
}


/* PADDING: LEFT / RIGHT */
.padding-lr-xxxs,
.list-padding-lr-xxxs li {
    padding-right: var(--gutter-single-xxxs);
    padding-left: var(--gutter-single-xxxs);
}

.padding-lr-xxs,
.list-padding-lr-xxs li {
    padding-right: var(--gutter-single-xxs);
    padding-left: var(--gutter-single-xxs);
}

.padding-lr-xs,
.list-padding-lr-xs li {
    padding-right: var(--gutter-single-xs);
    padding-left: var(--gutter-single-xs);
}

.padding-lr-sm,
.list-padding-lr-sm li {
    padding-right: var(--gutter-single-sm);
    padding-left: var(--gutter-single-sm);
}

.padding-lr-md,
.list-padding-lr-md li {
    padding-right: var(--gutter-single-md);
    padding-left: var(--gutter-single-md);
}

.padding-lr-lg,
.list-padding-lr-lg li {
    padding-right: var(--gutter-single-lg);
    padding-left: var(--gutter-single-lg);
}

.padding-lr-xl,
.list-padding-lr-xl li {
    padding-right: var(--gutter-single-xl);
    padding-left: var(--gutter-single-xl);
}

.padding-lr-xxl,
.list-padding-lr-xxl li {
    padding-right: var(--gutter-single-xxl);
    padding-left: var(--gutter-single-xxl);
}

.padding-lr-xxxl,
.list-padding-lr-xxxl li {
    padding-right: var(--gutter-single-xxxl);
    padding-left: var(--gutter-single-xxxl);
}


/* PADDING: TOP */
.padding-top-xxxs,
.list-padding-top-xxxs li {
    padding-top: var(--gutter-single-xxxs);
}

.padding-top-xxs,
.list-padding-top-xxs li {
    padding-top: var(--gutter-single-xxs);
}

.padding-top-xs,
.list-padding-top-xs li {
    padding-top: var(--gutter-single-xs);
}

.padding-top-sm,
.list-padding-top-sm li {
    padding-top: var(--gutter-single-sm);
}

.padding-top-md,
.list-padding-top-md li {
    padding-top: var(--gutter-single-md);
}

.padding-top-lg,
.list-padding-top-lg li {
    padding-top: var(--gutter-single-lg);
}

.padding-top-xl,
.list-padding-top-xl li {
    padding-top: var(--gutter-single-xl);
}

.padding-top-xxl,
.list-padding-top-xxl li {
    padding-top: var(--gutter-single-xxl);
}

.padding-top-xxxl,
.list-padding-top-xxxl li {
    padding-top: var(--gutter-single-xxxl);
}


/* PADDING: RIGHT */
.padding-right-xxxs,
.list-padding-right-xxxs li {
    padding-right: var(--gutter-single-xxxs);
}

.padding-right-xxs,
.list-padding-right-xxs li {
    padding-right: var(--gutter-single-xxs);
}

.padding-right-xs,
.list-padding-right-xs li {
    padding-right: var(--gutter-single-xs);
}

.padding-right-sm,
.list-padding-right-sm li {
    padding-right: var(--gutter-single-sm);
}

.padding-right-md,
.list-padding-right-md li {
    padding-right: var(--gutter-single-md);
}

.padding-right-lg,
.list-padding-right-lg li {
    padding-right: var(--gutter-single-lg);
}

.padding-right-xl,
.list-padding-right-xl li {
    padding-right: var(--gutter-single-xl);
}

.padding-right-xxl,
.list-padding-right-xxl li {
    padding-right: var(--gutter-single-xxl);
}

.padding-right-xxxl,
.list-padding-right-xxxl li {
    padding-right: var(--gutter-single-xxxl);
}


/* PADDING: BOTTOM */
.padding-bottom-xxxs,
.list-padding-bottom-xxxs li {
    padding-bottom: var(--gutter-single-xxxs);
}

.padding-bottom-xxs,
.list-padding-bottom-xxs li {
    padding-bottom: var(--gutter-single-xxs);
}

.padding-bottom-xs,
.list-padding-bottom-xs li {
    padding-bottom: var(--gutter-single-xs);
}

.padding-bottom-sm,
.list-padding-bottom-sm li {
    padding-bottom: var(--gutter-single-sm);
}

.padding-bottom-md,
.list-padding-bottom-md li {
    padding-bottom: var(--gutter-single-md);
}

.padding-bottom-lg,
.list-padding-bottom-lg li {
    padding-bottom: var(--gutter-single-lg);
}

.padding-bottom-xl,
.list-padding-bottom-xl li {
    padding-bottom: var(--gutter-single-xl);
}

.padding-bottom-xxl,
.list-padding-bottom-xxl li {
    padding-bottom: var(--gutter-single-xxl);
}

.padding-bottom-xxxl,
.list-padding-bottom-xxxl li {
    padding-bottom: var(--gutter-single-xxxl);
}


/* PADDING: LEFT */
.padding-left-xxxs,
.list-padding-left-xxxs li {
    padding-left: var(--gutter-single-xxxs);
}

.padding-left-xxs,
.list-padding-left-xxs li {
    padding-left: var(--gutter-single-xxs);
}

.padding-left-xs,
.list-padding-left-xs li {
    padding-left: var(--gutter-single-xs);
}

.padding-left-sm,
.list-padding-left-sm li {
    padding-left: var(--gutter-single-sm);
}

.padding-left-md,
.list-padding-left-md li {
    padding-left: var(--gutter-single-md);
}

.padding-left-lg,
.list-padding-left-lg li {
    padding-left: var(--gutter-single-lg);
}

.padding-left-xl,
.list-padding-left-xl li {
    padding-left: var(--gutter-single-xl);
}

.padding-left-xxl,
.list-padding-left-xxl li {
    padding-left: var(--gutter-single-xxl);
}

.padding-left-xxxl,
.list-padding-left-xxxl li {
    padding-left: var(--gutter-single-xxxl);
}


/* -------------------------------------------------- */
/* SPACING 
/* -------------------------------------------------- */

/* SPACING: NONE */
.spacing-none,
.list-spacing-none li {
    margin: 0 !important;
    padding: 0 !important;
}

.spacing-tb-none,
.list-spacing-tb-none li {
    margin-top: 0;
    padding-bottom: 0;
}

.spacing-lr-none,
.list-spacing-lr-none li {
    margin-left: 0;
    padding-right: 0;
}


/* SPACING: ALL AROUND */
.spacing-xxxs,
.list-spacing-xxxs li {
    margin: var(--gutter-xxxs);
    padding: var(--gutter-xxxs);
}

.spacing-xxs,
.list-spacing-xxs li {
    margin: var(--gutter-xxs);
    padding: var(--gutter-xxs);
}

.spacing-xs,
.list-spacing-xs li {
    margin: var(--gutter-xs);
    padding: var(--gutter-xs);
}

.spacing-sm,
.list-spacing-sm li {
    margin: var(--gutter-sm);
    padding: var(--gutter-sm);
}

.spacing-md,
.list-spacing-md li {
    margin: var(--gutter-md);
    padding: var(--gutter-md);
}

.spacing-lg,
.list-spacing-lg li {
    margin: var(--gutter-lg);
    padding: var(--gutter-lg);
}

.spacing-xl,
.list-spacing-xl li {
    margin: var(--gutter-xl);
    padding: var(--gutter-xl);
}

.spacing-xxl,
.list-spacing-xxl li {
    margin: var(--gutter-xxl);
    padding: var(--gutter-xxl);
}

.spacing-xxxl,
.list-spacing-xxxl li {
    margin: var(--gutter-xxxl);
    padding: var(--gutter-xxxl);
}


/* SPACING: TOP / BOTTOM */
.spacing-tb-xxxs,
.list-spacing-tb-xxxs li {
    margin-top: var(--gutter-single-xxxs);
    margin-bottom: var(--gutter-single-xxxs);
    padding-top: var(--gutter-single-xxxs);
    padding-bottom: var(--gutter-single-xxxs);
}

.spacing-tb-xxs,
.list-spacing-tb-xxs li {
    margin-top: var(--gutter-single-xxs);
    margin-bottom: var(--gutter-single-xxs);
    padding-top: var(--gutter-single-xxs);
    padding-bottom: var(--gutter-single-xxs);
}

.spacing-tb-xs,
.list-spacing-tb-xs li {
    margin-top: var(--gutter-single-xs);
    margin-bottom: var(--gutter-single-xs);
    padding-top: var(--gutter-single-xs);
    padding-bottom: var(--gutter-single-xs);
}

.spacing-tb-sm,
.list-spacing-tb-sm li {
    margin-top: var(--gutter-single-sm);
    margin-bottom: var(--gutter-single-sm);
    padding-top: var(--gutter-single-sm);
    padding-bottom: var(--gutter-single-sm);
}

.spacing-tb-md,
.list-spacing-tb-md li {
    margin-top: var(--gutter-single-md);
    margin-bottom: var(--gutter-single-md);
    padding-top: var(--gutter-single-md);
    padding-bottom: var(--gutter-single-md);
}

.spacing-tb-lg,
.list-spacing-tb-lg li {
    margin-top: var(--gutter-single-lg);
    margin-bottom: var(--gutter-single-lg);
    padding-top: var(--gutter-single-lg);
    padding-bottom: var(--gutter-single-lg);
}

.spacing-tb-xl,
.list-spacing-tb-xl li {
    margin-top: var(--gutter-single-xl);
    margin-bottom: var(--gutter-single-xl);
    padding-top: var(--gutter-single-xl);
    padding-bottom: var(--gutter-single-xl);
}

.spacing-tb-xxl,
.list-spacing-tb-xxl li {
    margin-top: var(--gutter-single-xxl);
    margin-bottom: var(--gutter-single-xxl);
    padding-top: var(--gutter-single-xxl);
    padding-bottom: var(--gutter-single-xxl);
}

.spacing-tb-xxxl,
.list-spacing-tb-xxxl li {
    margin-top: var(--gutter-single-xxxl);
    margin-bottom: var(--gutter-single-xxxl);
    padding-top: var(--gutter-single-xxxl);
    padding-bottom: var(--gutter-single-xxxl);
}


/* SPACING: LEFT / RIGHT */
.spacing-lr-xxxs,
.list-spacing-lr-xxxs li {
    margin-right: var(--gutter-single-xxxs);
    margin-left: var(--gutter-single-xxxs);
    padding-right: var(--gutter-single-xxxs);
    padding-left: var(--gutter-single-xxxs);
}

.spacing-lr-xxs,
.list-spacing-lr-xxs li {
    margin-right: var(--gutter-single-xxs);
    margin-left: var(--gutter-single-xxs);
    padding-right: var(--gutter-single-xxs);
    padding-left: var(--gutter-single-xxs);
}

.spacing-lr-xs,
.list-spacing-lr-xs li {
    margin-right: var(--gutter-single-xs);
    margin-left: var(--gutter-single-xs);
    padding-right: var(--gutter-single-xs);
    padding-left: var(--gutter-single-xs);
}

.spacing-lr-sm,
.list-spacing-lr-sm li {
    margin-right: var(--gutter-single-sm);
    margin-left: var(--gutter-single-sm);
    padding-right: var(--gutter-single-sm);
    padding-left: var(--gutter-single-sm);
}

.spacing-lr-md,
.list-spacing-lr-md li {
    margin-right: var(--gutter-single-md);
    margin-left: var(--gutter-single-md);
    padding-right: var(--gutter-single-md);
    padding-left: var(--gutter-single-md);
}

.spacing-lr-lg,
.list-spacing-lr-lg li {
    margin-right: var(--gutter-single-lg);
    margin-left: var(--gutter-single-lg);
    padding-right: var(--gutter-single-lg);
    padding-left: var(--gutter-single-lg);
}

.spacing-lr-xl,
.list-spacing-lr-xl li {
    margin-right: var(--gutter-single-xl);
    margin-left: var(--gutter-single-xl);
    padding-right: var(--gutter-single-xl);
    padding-left: var(--gutter-single-xl);
}

.spacing-lr-xxl,
.list-spacing-lr-xxl li {
    margin-right: var(--gutter-single-xxl);
    margin-left: var(--gutter-single-xxl);
    padding-right: var(--gutter-single-xxl);
    padding-left: var(--gutter-single-xxl);
}

.spacing-lr-xxxl,
.list-spacing-lr-xxxl li {
    margin-right: var(--gutter-single-xxxl);
    margin-left: var(--gutter-single-xxxl);
    padding-right: var(--gutter-single-xxxl);
    padding-left: var(--gutter-single-xxxl);
}


/* SPACING: TOP */
.spacing-top-xxxs,
.list-spacing-top-xxxs li {
    margin-top: var(--gutter-single-xxxs);
    padding-top: var(--gutter-single-xxxs);
}

.spacing-top-xxs,
.list-spacing-top-xxs li {
    margin-top: var(--gutter-single-xxs);
    padding-top: var(--gutter-single-xxs);
}

.spacing-top-xs,
.list-spacing-top-xs li {
    margin-top: var(--gutter-single-xs);
    padding-top: var(--gutter-single-xs);
}

.spacing-top-sm,
.list-spacing-top-sm li {
    margin-top: var(--gutter-single-sm);
    padding-top: var(--gutter-single-sm);
}

.spacing-top-md,
.list-spacing-top-md li {
    margin-top: var(--gutter-single-md);
    padding-top: var(--gutter-single-md);
}

.spacing-top-lg,
.list-spacing-top-lg li {
    margin-top: var(--gutter-single-lg);
    padding-top: var(--gutter-single-lg);
}

.spacing-top-xl,
.list-spacing-top-xl li {
    margin-top: var(--gutter-single-xl);
    padding-top: var(--gutter-single-xl);
}

.spacing-top-xxl,
.list-spacing-top-xxl li {
    margin-top: var(--gutter-single-xxl);
    padding-top: var(--gutter-single-xxl);
}

.spacing-top-xxxl,
.list-spacing-top-xxxl li {
    margin-top: var(--gutter-single-xxxl);
    padding-top: var(--gutter-single-xxxl);
}


/* SPACING: RIGHT */
.spacing-right-xxxs,
.list-spacing-right-xxxs li {
    margin-right: var(--gutter-single-xxxs);
    padding-right: var(--gutter-single-xxxs);
}

.spacing-right-xxs,
.list-spacing-right-xxs li {
    margin-right: var(--gutter-single-xxs);
    padding-right: var(--gutter-single-xxs);
}

.spacing-right-xs,
.list-spacing-right-xs li {
    margin-right: var(--gutter-single-xs);
    padding-right: var(--gutter-single-xs);
}

.spacing-right-sm,
.list-spacing-right-sm li {
    margin-right: var(--gutter-single-sm);
    padding-right: var(--gutter-single-sm);
}

.spacing-right-md,
.list-spacing-right-md li {
    margin-right: var(--gutter-single-md);
    padding-right: var(--gutter-single-md);
}

.spacing-right-lg,
.list-spacing-right-lg li {
    margin-right: var(--gutter-single-lg);
    padding-right: var(--gutter-single-lg);
}

.spacing-right-xl,
.list-spacing-right-xl li {
    margin-right: var(--gutter-single-xl);
    padding-right: var(--gutter-single-xl);
}

.spacing-right-xxl,
.list-spacing-right-xxl li {
    margin-right: var(--gutter-single-xxl);
    padding-right: var(--gutter-single-xxl);
}

.spacing-right-xxxl,
.list-spacing-right-xxxl li {
    margin-right: var(--gutter-single-xxxl);
    padding-right: var(--gutter-single-xxxl);
}


/* SPACING: BOTTOM */
.spacing-bottom-xxxs,
.list-spacing-bottom-xxxs li {
    margin-bottom: var(--gutter-single-xxxs);
    padding-bottom: var(--gutter-single-xxxs);
}

.spacing-bottom-xxs,
.list-spacing-bottom-xxs li {
    margin-bottom: var(--gutter-single-xxs);
    padding-bottom: var(--gutter-single-xxs);
}

.spacing-bottom-xs,
.list-spacing-bottom-xs li {
    margin-bottom: var(--gutter-single-xs);
    padding-bottom: var(--gutter-single-xs);
}

.spacing-bottom-sm,
.list-spacing-bottom-sm li {
    margin-bottom: var(--gutter-single-sm);
    padding-bottom: var(--gutter-single-sm);
}

.spacing-bottom-md,
.list-spacing-bottom-md li {
    margin-bottom: var(--gutter-single-md);
    padding-bottom: var(--gutter-single-md);
}

.spacing-bottom-lg,
.list-spacing-bottom-lg li {
    margin-bottom: var(--gutter-single-lg);
    padding-bottom: var(--gutter-single-lg);
}

.spacing-bottom-xl,
.list-spacing-bottom-xl li {
    margin-bottom: var(--gutter-single-xl);
    padding-bottom: var(--gutter-single-xl);
}

.spacing-bottom-xxl,
.list-spacing-bottom-xxl li {
    margin-bottom: var(--gutter-single-xxl);
    padding-bottom: var(--gutter-single-xxl);
}

.spacing-bottom-xxxl,
.list-spacing-bottom-xxxl li {
    margin-bottom: var(--gutter-single-xxxl);
    padding-bottom: var(--gutter-single-xxxl);
}


/* SPACING: LEFT */
.spacing-left-xxxs,
.list-spacing-left-xxxs li {
    margin-left: var(--gutter-single-xxxs);
    padding-left: var(--gutter-single-xxxs);
}

.spacing-left-xxs,
.list-spacing-left-xxs li {
    margin-left: var(--gutter-single-xxs);
    padding-left: var(--gutter-single-xxs);
}

.spacing-left-xs,
.list-spacing-left-xs li {
    margin-left: var(--gutter-single-xs);
    padding-left: var(--gutter-single-xs);
}

.spacing-left-sm,
.list-spacing-left-sm li {
    margin-left: var(--gutter-single-sm);
    padding-left: var(--gutter-single-sm);
}

.spacing-left-md,
.list-spacing-left-md li {
    margin-left: var(--gutter-single-md);
    padding-left: var(--gutter-single-md);
}

.spacing-left-lg,
.list-spacing-left-lg li {
    margin-left: var(--gutter-single-lg);
    padding-left: var(--gutter-single-lg);
}

.spacing-left-xl,
.list-spacing-left-xl li {
    margin-left: var(--gutter-single-xl);
    padding-left: var(--gutter-single-xl);
}

.spacing-left-xxl,
.list-spacing-left-xxl li {
    margin-left: var(--gutter-single-xxl);
    padding-left: var(--gutter-single-xxl);
}

.spacing-left-xxxl,
.list-spacing-left-xxxl li {
    margin-left: var(--gutter-single-xxxl);
    padding-left: var(--gutter-single-xxxl);
}


/* -------------------------------------------------- */
/* POSITIONING / DEPTH ORDER 
/* -------------------------------------------------- */

/* POSITION */
.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.position-relative {
    position: relative;
}

.position-static {
    position: static;
}


/* POSITIONING: TOP / RIGHT / BOTTOM / LEFT */
.top {
    top: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}


/* POSITIONING OFFSET: TOP / RIGHT / BOTTOM / LEFT */
.top-offset {
    top: -3em;
}

.right-offset {
    right: -3em;
}

.bottom-offset {
    bottom: -3em;
}

.left-offset {
    left: -3em;
}


/* CENTERING */
.center {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.center-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center-vh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* CLEAR */
.clearfix::after {
    display: block;
    clear: both;
    content: '';
}


/* FLOAT */
.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* STACK ORDER */

.z-00 {
    z-index: 0;
}

.z-01 {
    z-index: 1;
}

.z-02 {
    z-index: 2;
}

.z-03 {
    z-index: 3;
}

.z-04 {
    z-index: 4;
}

.z-05 {
    z-index: 5;
}

.z-06 {
    z-index: 6;
}

.z-07 {
    z-index: 7;
}

.z-08 {
    z-index: 8;
}

.z-09 {
    z-index: 9;
}

.z-10 {
    z-index: 10;
}

.bring-to-front {
    z-index: 9999;
}

.send-to-back {
    z-index: -1;
}

.z-auto {
    z-index: auto;
}


/* -------------------------------------------------- */
/* ALIGNMENT 
/* -------------------------------------------------- */

.vertical-align-baseline {
    vertical-align: baseline;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-sub {
    vertical-align: sub;
}

.vertical-align-super {
    vertical-align: super;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-text-top {
    vertical-align: text-top;
}

.vertical-align-text-bottom {
    vertical-align: text-bottom;
}


/* -------------------------------------------------- */
/* RULES 
/* -------------------------------------------------- */

/* DISPLAY */
.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}


/* OVERFLOW */
.overflow-auto {
    overflow: auto;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-x {
    overflow-x: scroll;
    overflow-y: hidden;
}

.overflow-y {
    overflow-x: hidden;
    overflow-y: scroll;
}

.overscroll-auto {
    overscroll-behavior: auto;
}

.overscroll-contain {
    overscroll-behavior: contain;
}

.overscroll-none {
    overscroll-behavior: none;
}


/* VISIBILITY */
.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}


/* FULLSCREEN */
.fullscreen {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}


/* CURSOR / POINTER */
.cursor-copy {
    cursor: copy;
}

.cursor-default {
    cursor: default;
}

.cursor-move {
    cursor: move;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-progress {
    cursor: progress;
}

.cursor-resize {
    cursor: ne-resize;
}

.cursor-resize-horizontal {
    cursor: w-resize;
}

.cursor-resize-vertical {
    cursor: s-resize;
}

.cursor-wait {
    cursor: wait;
}

.no-pointer {
    cursor: default;
    pointer-events: none;
}


/* SELECTION */
.no-selection {
    user-select: none;
}


/* TOUCH */
.no-touch-scroll {
    -webkit-overflow-scrolling: auto;
}

.no-touch-callout {
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-user-touch-callout: none;
    touch-callout: none;
}


/* SCROLL */
.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}


/* SCROLLBAR */
.no-scrollbar {
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* -------------------------------------------------- */
/* TRANSFORM 
/* -------------------------------------------------- */

/* FLIP */
.flip-y {
    transform: scaleY(-1);
    backface-visibility: hidden;
    /* filter: FlipV;
     -ms-filter: 'FlipV';
     */
}

.flip-x {
    transform: scaleX(-1);
    backface-visibility: hidden;
    /* filter: FlipH;
     -ms-filter: 'FlipH';
     */
}

.flip-xy {
    transform: scale(-1, -1);
    backface-visibility: hidden;
    /* filter: FlipH;
     -ms-filter: 'FlipH';
     */
}


/* ROTATE */
.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}


/* -------------------------------------------------- */
/* OPACITY 
/* -------------------------------------------------- */

.opacity-00 {
    opacity: 0;
}

.opacity-faint-10 {
    opacity: 0.01;
}

.opacity-01 {
    opacity: 0.1;
}

.opacity-02 {
    opacity: 0.2;
}

.opacity-03 {
    opacity: 0.3;
}

.opacity-04 {
    opacity: 0.4;
}

.opacity-05 {
    opacity: 0.5;
}

.opacity-06 {
    opacity: 0.6;
}

.opacity-07 {
    opacity: 0.7;
}

.opacity-08 {
    opacity: 0.8;
}

.opacity-09 {
    opacity: 0.9;
}

.opacity-10 {
    opacity: 1;
}

.opacity-faint-01 {
    opacity: 0.01;
}

.opacity-faint-02 {
    opacity: 0.02;
}

.opacity-faint-03 {
    opacity: 0.03;
}

.opacity-faint-04 {
    opacity: 0.04;
}

.opacity-faint-05 {
    opacity: 0.05;
}

.opacity-faint-06 {
    opacity: 0.06;
}

.opacity-faint-07 {
    opacity: 0.07;
}

.opacity-faint-08 {
    opacity: 0.08;
}

.opacity-faint-09 {
    opacity: 0.09;
}


/* -------------------------------------------------- */
/* FILTER EFFECTS 
/* -------------------------------------------------- */

/* TEXT SHADOW */
.text-shadow-xs,
.text-shadow-xs-hover:hover {
    text-shadow: var(--text-shadow-xs);
}

.text-shadow-sm,
.text-shadow-sm-hover:hover {
    text-shadow: var(--text-shadow-sm);
}

.text-shadow-md,
.text-shadow-md-hover:hover {
    text-shadow: var(--text-shadow-md);
}

.text-shadow-lg,
.text-shadow-lg-hover:hover {
    text-shadow: var(--text-shadow-lg);
}

.text-shadow-xl,
.text-shadow-xl-hover:hover {
    text-shadow: var(--text-shadow-xl);
}

.text-shadow-none-hover:hover {
    text-shadow: 0 0 0 rgba(0,0,0, 0);
}


/* BOX SHADOW */
.box-shadow-xs,
.box-shadow-xs-hover:hover {
    box-shadow: var(--box-shadow-xs);
}

.box-shadow-sm,
.box-shadow-sm-hover:hover {
    box-shadow: var(--box-shadow-sm);
}

.box-shadow-md,
.box-shadow-md-hover:hover {
    box-shadow: var(--box-shadow-md);
}

.box-shadow-lg,
.box-shadow-lg-hover:hover {
    box-shadow: var(--box-shadow-lg);
}

.box-shadow-xl,
.box-shadow-xl-hover:hover {
    box-shadow: var(--box-shadow-xl);
}

.box-shadow-none-hover:hover {
    box-shadow: 0 0 0 0 rgba(0,0,0, 0);
}


/* DROP SHADOW */
.drop-shadow-xs,
.drop-shadow-xs-hover:hover {
    filter: var(--drop-shadow-xs);
}

.drop-shadow-sm,
.drop-shadow-sm-hover:hover {
    filter: var(--drop-shadow-sm);
}

.drop-shadow-md,
.drop-shadow-md-hover:hover {
    filter: var(--drop-shadow-md);
}

.drop-shadow-lg,
.drop-shadow-lg-hover:hover {
    filter: var(--drop-shadow-lg);
}

.drop-shadow-xl,
.drop-shadow-xl-hover:hover {
    filter: var(--drop-shadow-xl);
}

.drop-shadow-none-hover:hover {
    filter: drop-shadow(0 0 0 rgba(0,0,0, 0));
}


/* BLUR */
.blur-xs {
    filter: var(--blur-xs);
}

.blur-sm {
    filter: var(--blur-sm);
}

.blur-md {
    filter: var(--blur-md);
}

.blur-lg {
    filter: var(--blur-lg);
}

.blur-xl {
    filter: var(--blur-xl);
}

.blur-mr-magoo {
    filter: var(--blur-mr-magoo);
}

.blur-svg {
    filter: url(#blur);
}


/* -------------------------------------------------- */
/* TEXT 
/* -------------------------------------------------- */

/* RULES */
.text-nowrap {
    white-space: nowrap;
}

.text-truncate,
ul.text-truncate li,
ul.text-truncate li * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-break-word {
    word-wrap: break-word;
}

.text-break-all {
    word-break: break-all;
}

.text-indent-left {
    margin-left: 1em;
    text-indent: -1em;
}

.text-indent-right {
    margin-left: -1em;
    text-indent: 1em;
}


/* FONT STYLES */
.text-normal {
    font-style: normal;
}

.text-italic {
    font-style: italic;
}

.text-oblique {
    font-style: oblique;
}


/* TEXT DECORATION */
.text-overline {
    text-decoration: overline;
}

.text-strike {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.text-overline-underline {
    text-decoration: overline underline;
}


/* TEXT ALIGN */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}


/* TEXT TRANSFORM */
.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}


/* FONT WEIGHT */
.text-normal {
    font-weight: normal;
}

.text-lighter {
    font-weight: lighter;
}

.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}


/* LETTER SPACING */
.text-spacing-normal {
    letter-spacing: normal;
}

.text-spacing-xxxs {
    letter-spacing: var(--text-letter-spacing-xxxs);
}

.text-spacing-xxs {
    letter-spacing: var(--text-letter-spacing-xxs);
}

.text-spacing-xs {
    letter-spacing: var(--text-letter-spacing-xs);
}

.text-spacing-sm {
    letter-spacing: var(--text-letter-spacing-sm);
}

.text-spacing-md {
    letter-spacing: var(--text-letter-spacing-md);
}

.text-spacing-lg {
    letter-spacing: var(--text-letter-spacing-lg);
}

.text-spacing-xl {
    letter-spacing: var(--text-letter-spacing-xl);
}

.text-spacing-xxl {
    letter-spacing: var(--text-letter-spacing-xxl);
}

.text-spacing-xxxl {
    letter-spacing: var(--text-letter-spacing-xxxl);
}


/* LINE HEIGHT */
.text-leading-normal {
    line-height: normal;
}

.text-leading-xxxs {
    line-height: var(--text-leading-xxxs);
}

.text-leading-xxs {
    line-height: var(--text-leading-xxs);
}

.text-leading-xs {
    line-height: var(--text-leading-xs);
}

.text-leading-sm {
    line-height: var(--text-leading-sm);
}

.text-leading-md {
    line-height: var(--text-leading-md);
}

.text-leading-lg {
    line-height: var(--text-leading-lg);
}

.text-leading-xl {
    line-height: var(--text-leading-xl);
}

.text-leading-xxl {
    line-height: var(--text-leading-xxl);
}

.text-leading-xxxl {
    line-height: var(--text-leading-xxxl);
}


/* -------------------------------------------------- */
/* LIST 
/* -------------------------------------------------- */

/* COMMON */
dl, ol, ul {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0;
}

dl, ul {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); /* In IE bullets are shown on first load. */
}


/* RULES */
.list-vertical li {
    display: block;
}

.list-horizontal li {
    display: inline-block;
}

.list-inside {
    list-style-position: inside;
}

.list-outside {
    list-style-position: outside;
}

.list-vertical.list-frist-spacing-none li:first-child {
    margin-top: 0;
    padding-top: 0;
}

.list-horizontal.list-last-spacing-none li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.list-vertical.list-last-spacing-none li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.list-horizontal.list-frist-spacing-none li:first-child {
    margin-left: 0;
    padding-left: 0;
}


/* VARIANTS */
.list-disc {
    list-style-type: disc;
}

.list-circle {
    list-style-type: circle;
}

.list-number {
    list-style-type: decimal;
}

.list-square {
    list-style-type: square;
}


/* RESET FOR IE */
/* li::before, li::after {
     content: none;
}
 */


/* -------------------------------------------------- */
/* RADIUS 
/* -------------------------------------------------- */

/* SIZES */
.round-none {
    border-radius: 0 0 0 0;
}

.round-xxxs {
    border-radius: var(--radius-xxxs);
}

.round-xxs {
    border-radius: var(--radius-xxs);
}

.round-xs {
    border-radius: var(--radius-xs);
}

.round-sm {
    border-radius: var(--radius-sm);
}

.round-md {
    border-radius: var(--radius-md);
}

.round-lg {
    border-radius: var(--radius-lg);
}

.round-xl {
    border-radius: var(--radius-xl);
}

.round-xxl {
    border-radius: var(--radius-xxl);
}

.round-xxxl {
    border-radius: var(--radius-xxxl);
}

.round-full {
    border-radius: var(--radius-full);
}


/* VARIANTS */
.round-top {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.round-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.round-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.round-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/* HELPERS */
.round-mask {
    position: relative;
    display: block;

    width: 100%;
    max-width: 400px;
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;

    border: 0 solid var(--light-grey-color);
    border-radius: 2%;
}

.round-mask iframe {
    position: absolute;
    top: 0;
    left: 0;
}


/* -------------------------------------------------- */
/* BORDERS 
/* -------------------------------------------------- */

/* RULES */
.border-none {
    border: 0;
}


/* WEIGHT */
.border-xxxs,
.border-xxxs-hover:hover {
    border-width: var(--border-xxxs);
}

.border-xxs,
.border-xxs-hover:hover {
    border-width: var(--border-xxs);
}

.border-xs,
.border-xs-hover:hover {
    border-width: var(--border-xs);
}

.border-sm,
.border-sm-hover:hover {
    border-width: var(--border-sm);
}

.border-md,
.border-md-hover:hover {
    border-width: var(--border-md);
}

.border-lg,
.border-lg-hover:hover {
    border-width: var(--border-lg);
}

.border-xl,
.border-xl-hover:hover {
    border-width: var(--border-xl);
}

.border-xxl,
.border-xxl-hover:hover {
    border-width: var(--border-xxl);
}

.border-xxxl,
.border-xxxl-hover:hover {
    border-width: var(--border-xxxl);
}

.border-thin,
.border-thin-hover:hover {
    border-width: thin;
}

.border-medium,
.border-medium-hover:hover {
    border-width: medium;
}

.border-thick,
.border-thick-hover:hover {
    border-width: thick;
}


/* STYLES */
.border-dashed {
    border-style: dashed;
}

.border-dotted {
    border-style: dotted;
}

.border-double {
    border-style: double;
}

.border-groove {
    border-style: groove;
}

.border-inset {
    border-style: inset;
}

.border-outset {
    border-style: outset;
}

.border-ridge {
    border-style: ridge;
}

.border-solid {
    border-style: solid;
}


/* VARIANTS */
.border-tb {
    /*border-top: 0;*/
    border-right: 0;
    /*border-bottom: 0;*/
    border-left: 0;
}

.border-lr {
    border-top: 0;
    /*border-right: 0;*/
    border-bottom: 0;
    /*border-left: 0;*/
}

.border-tl {
    /*border-top: 0;*/
    border-right: 0;
    border-bottom: 0;
    /*border-left: 0;*/
}

.border-tr {
    /* border-top: 0;*/
    /* border-right: 0;*/
    border-bottom: 0;
    border-left: 0;
}

.border-bl {
    border-top: 0;
    border-right: 0;
    /*border-bottom: 0;*/
    /*border-left: 0;*/
}

.border-br {
    border-top: 0;
    /*border-right: 0;*/
    /*border-bottom: 0;*/
    border-left: 0;
}

.border-top {
    /*border-top: 0;*/
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.border-left {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    /*border-left: 0;*/
}

.border-right {
    border-top: 0;
    /*border-right: 0;*/
    border-bottom: 0;
    border-left: 0;
}

.border-bottom {
    border-top: 0;
    border-right: 0;
    /*border-bottom: 0;*/
    border-left: 0;
}


/* -------------------------------------------------- */
/* BACKGROUND 
/* -------------------------------------------------- */

/* SIZES */
.background-auto {
    background-size: auto;
}

.background-contain {
    background-size: contain;
}

.background-cover {
    background-size: cover;
}


/* POSITIONING */
.background-top {
    background-position: top;
}

.background-tr {
    background-position: top right;
}

.background-right {
    background-position: right;
}

.background-br {
    background-position: bottom right;
}

.background-botttom {
    background-position: bottom;
}

.background-bl {
    background-position: bottom left;
}

.background-left {
    background-position: left;
}

.background-tl {
    background-position: top left;
}


.background-center {
    background-position: center center;
}

.background-tc {
    background-position: top center;
}

.background-rc {
    background-position: right center;
}

.background-bc {
    background-position: bottom center;
}

.background-lc {
    background-position: left center;
}


/* PROPERTIES */
.background-repeat {
    background-repeat: repeat;
}

.background-repeat-x {
    background-repeat: repeat-x;
}

.background-repeat-y {
    background-repeat: repeat-y;
}

.background-no-repeat {
    background-repeat: no-repeat;
}

.background-color-none {
    background-color: transparent;
}

.background-image-none {
    background-image: none;
}

.background-none {
    background-color: transparent;
    background-image: none;
}


/* BACKDROP FILTER */
.background-frost-xs {
    backdrop-filter: var(--blur-xs);
}

.background-frost-sm {
    backdrop-filter: var(--blur-sm);
}

.background-frost-md {
    backdrop-filter: var(--blur-md);
}

.background-frost-lg {
    backdrop-filter: var(--blur-lg);
}

.background-frost-xl {
    backdrop-filter: var(--blur-xl);
}


/* This is very performance heavy. Use with caution. */
.background-frost-mr-magoo {
    backdrop-filter: var(--blur-mr-magoo);
}


/* TRANSLUCENT BACKGROUND: WHITE */
.background-white-25 {
    background-color: rgba(var(--white-color-rgb), 0.25);
}

.background-white-50 {
    background-color: rgba(var(--white-color-rgb), 0.5);
}

.background-white-75 {
    background-color: rgba(var(--white-color-rgb), 0.75);
}

.background-white-90 {
    background-color: rgba(var(--white-color-rgb), 0.9);
}


/* TRANSLUCENT BACKGROUND: BLACK */
.background-black-25 {
    background-color: rgba(var(--charcoal-color-rgb), 0.25);
}

.background-black-50 {
    background-color: rgba(var(--charcoal-color-rgb), 0.5);
}

.background-black-75 {
    background-color: rgba(var(--charcoal-color-rgb), 0.75);
}

.background-black-90 {
    background-color: rgba(var(--charcoal-color-rgb), 0.9);
}


/* -------------------------------------------------- */
/* ANIMATIONS / TRANSITIONS 
/* -------------------------------------------------- */


/* For reference. :root {
    --transition-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --transition-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.19);
    --transition-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --transition-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --transition-in-expo: cubic-bezier(0.95, 0.05, .795, 0.035);
    --transition-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    --transition-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --transition-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --transition-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --transition-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --transition-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --transition-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
    --transition-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --transition-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    --transition-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --transition-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --transition-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
 */

.transition {
    transition: all 0.25s;
}

.transition-ease {
    transition: var(--transition);
}

.transition-ease-in {
    transition: var(--transition-in);
}

.transition-ease-out {
    transition: var(--transition-out);
}

.transition-ease-in-out {
    transition: var(--transition-in-out);
}

.transition-quick {
    transition: var(--transition-quick);
}

.transition-fast {
    transition: var(--transition-fast);
}

.transition-normal {
    transition: var(--transition-normal);
}

.transition-slow {
    transition: var(--transition-slow);
}

.transition-none {
    transition: none !important;
}
