/* -------------------------------------------------- */
/* LAYOUT
/* -------------------------------------------------- */

#main-styleguide section {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 0 0;
}


/* -------------------------------------------------- */
/* LOGO
/* -------------------------------------------------- */

#sidebar .logo {
    display: block;

    max-width: 200px;
    padding-left: var(--gutter-single-sm);
}

#sidebar .logo svg {
    width: 75px;

    fill: var(--secondary-color);
}


/* -------------------------------------------------- */
/* VERSION INFO
/* -------------------------------------------------- */

.styleguide-version {
    font-size: 0.75em;

    width: 75px;
    margin-left: var(--gutter-single-sm);
    padding: 0.12rem 0.25rem 0.12rem 0.25rem;

    color: var(--light-grey-color);
    border-radius: var(--radius-xxs);
    background-color: var(--charcoal-color);
}


/* -------------------------------------------------- */
/* SIDEBAR
/* -------------------------------------------------- */

/* PARENT */
#sidebar {
    overflow: hidden scroll;

    height: 100vh;
    padding: var(--gutter-xs);

    background-color: var(--white-color);
}


#sidebar {
    -ms-overflow-style: none;
}

#sidebar::-webkit-scrollbar {
    display: none;
}


/* NAV */
#sidebar nav {
    width: 100%;
    max-width: 200px;
    margin: 0 0 0 auto;
}


/* CHILD */





/* ITEMS */





/* -------------------------------------------------- */
/* CODE
/* -------------------------------------------------- */

code {
    border: 0;
}


/* -------------------------------------------------- */
/* LIST
/* -------------------------------------------------- */

.prop-css-color li span {
    display: inline-block;

    width: 25px;
    height: 25px;

    vertical-align: middle;
    /*border: 2px solid #ddd;*/

    border-radius: 100px;
}


/* -------------------------------------------------- */
/* NOTE BLOCK
/* -------------------------------------------------- */

.prop-note-block {
    position: relative;

    display: block;

    margin: 1rem 0 0 0;
    padding: 1rem 1rem 1rem 1rem;

    transition: var(--transition-normal);

    color: #fff;
    border-radius: 8px;
    background-color: #333;
    box-shadow: 0 0 0 0 rgba(0,0,0, 0);
}


.prop-note-block:hover {
    box-shadow: var(--box-shadow-xl);
}

.prop-note-block .copy-to-clipboard-content {
    color: var(--white-color);
    background-color: transparent;
}


.prop-note-block .copy-to-clipboard-button {
    position: absolute;
    top: 0;
    right: 0;

    margin: var(--gutter-sm);

    color: var(--light-grey-color);
}


.prop-note-block .copy-to-clipboard-button .copy-to-clipboard-status {
    display: inline;

    opacity: 0;
}


.prop-note-block .copy-to-clipboard-button .fa {
    margin-left: 0.75rem;

    cursor: pointer;
}


/* -------------------------------------------------- */
/* HIGHLIGHTS
/* -------------------------------------------------- */

.code-highlight span,
ul.code-highlight li span,
code {
    font-style: italic;

    display: inline-table;

    width: auto;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;

    color: #fffab0;
    border-radius: 8px;
    background-color: #333;
}


i {
    font-weight: bold;
}


/* -------------------------------------------------- */
/* HEADER
/* -------------------------------------------------- */

.header-style {
    font-family: var(--font-copy);
    font-size: 1.5em;

    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 100%;
}

.header-style::after {
    display: inline-block;

    width: 100%;
    height: 1px;
    margin-left: 0;

    content: '';

    background-color: var(--charcoal-color);
}


.subheader-style {
    font-family: var(--font-copy);

    display: block;

    margin: 2rem 0 2rem 0;

    color: var(--dark-grey-color);
    border-bottom: thin solid var(--dark-grey-color);
}
