
<!-- CONTENT: MODAL -->
<dialog id="dialog" aria-labelledby="" aria-describedby="" role="dialog">


	<!-- PRELOADER -->
	<div id="dialog-preloader" class="mini-preloader light"><span class="fa fa-circle-o-notch fa-spin" aria-hidden="true" role="document"></span><p>Loading...</p></div>
	<!-- // PRELOADER -->


	<!-- ERROR -->
	<div id="dialog-error" class="center-vh">
		<span class="fa fa-exclamation-circle p4" aria-hidden="true"></span>
		<p></p>
	</div>
	<!-- // ERROR -->


	<!-- CONTAINER -->
	<div id="dialog-container" class="dialog-container z-00"></div>
	<!-- // CONTAINER -->


	<!-- CLOSE -->
	<button id="dialog-close" class="close dark margin-sm round-full z-01" aria-label="Close dialog">
		<span></span>
		<span></span>
	</button>
	<!-- // CLOSE -->


</dialog>
<!-- // CONTENT: MODAL -->
