

<!-- CONTENT: PRIVACY POLICY -->
<div id="privacy-policy-notice" class="no-print hide-landscape-mobile">

	<div class="grid-x align-center align-middle small-up-1 medium-up-2 center width-sm">


		<p class="cell medium-auto text-white padding-bottom-sm-mobile">
			This website uses cookies to ensure you get the best experience. <a href="{{ dialog }}privacy-policy" class="text-light-grey text-primary-hover text-bold prevent-default" data-content-selector="privacy-policy" data-content-width="600" data-content-height="800">Read our privacy policy to learn more.</a>
		</p>


		<button href="#" class="cell round-full button button-md button-fx-white width-full-mobile text-white text-bold text-center background-primary prevent-default">Got it!</button>


	</div>	

</div>
<!-- // CONTENT: PRIVACY POLICY -->
