/* -------------------------------------------------- */
/* HACKS 
/* -------------------------------------------------- */

/* Utilize with requestAnimationFrame. Use sparingly. */
%will-change {
    will-change: auto;
}


/* SplitText fix for font rendering. Prevents blinking. Only apply to text animated with SplitText, otherwise this is a very performance heavy fix. */
%fix-font-render {
    transform: translateZ(0);
    font-kerning: none;
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
}


/* Force use of graphics memory rendering. Use sparingly. */
%force-gpu {
    transform: translate3d(0, 0, 0) translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
}


/* Create a style-cleaned and self-contained component. */
%reset {
    all: initial;
    contain: content;
}
