/* -------------------------------------------------- */
/* DISABLED / INACTIVE
/* -------------------------------------------------- */

%disabled {
	cursor: pointer;
	pointer-events: none;
}


/* -------------------------------------------------- */
/* PSEUDO
/* -------------------------------------------------- */

%psuedo {
	content: '';
	display: block;
	position: absolute;
}


/* -------------------------------------------------- */
/* ICON
/* -------------------------------------------------- */

@mixin icon($icon) {
	content: $icon;
	display: block;
	position: absolute;
	font-family: $font-icons;
}
